<link href="~/Content/serverNavStyle.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="sidenav">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active"><a href="../Home/Servers" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="../VirtualMachine/Analytics" class="nav-link">Analytics</a></li>
                <li class="nav-item"><a href="../VirtualMachine/VMs"class="nav-link">VMs</a></li>
                <li class="nav-item"><a href="../VirtualMachine/Containers"class="nav-link">Containers</a></li>
                <li class="nav-item"><a href="../VirtualMachine/Environment"class="nav-link">Environment</a></li>


                @*<li class="nav-item"><a href="http://www.jquery2dotnet.com"class="nav-link">Forms</a></li>
                <li class="nav-item"><a href="http://www.jquery2dotnet.com"class="nav-link">Calender</a></li>
                <li class="nav-item"><a href="http://www.jquery2dotnet.com"class="nav-link">Library</a></li>
                <li class="nav-item"><a href="http://www.jquery2dotnet.com"class="nav-link">Applications</a></li>*@
                @*<li class="nav-item"><a href="http://www.jquery2dotnet.com"class="nav-link">Settings</a></li>*@
            </ul>
        </div>
       
    </div>
</div>