@using Deployer2._0.Models;
@using vmware.vcenter;
@using System.Management.Automation;
<head>
    <meta http-equiv="refresh" content="5" />

</head>
<script>
    function reload() {
        location.reload();
    }
</script>
<body>
    <div>
        @*<p>
            For Information about how to deploy servers or containers please refer to the FAQ Section of the website
        </p>*@
    </div>
    

</body>

