@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body {
     margin-top: 20px;
    
}
.sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0px;
    /*background-color: #111;*/
    padding-top: 80px;
    padding-right: 80px;
    transition: 2s;
    float: left;
    align-content: center;
}
.sidenav-main {
    height: 100%;
    width: 10em;
    position: fixed;
    z-index: 1;
    top: 52px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 710px;
    transition: 2s;
    float: left;
}

.fa-fw {width: 2em;}
.content {
    width: auto;
    margin-left: 12%;
    /*padding-left: 0;*/
}
.sideButtons{
    /*align-content:center;*/
    margin:10px;
    width:auto;
}
