@model Deployer2._0.Models.ContainerModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContainerForm</title>
</head>
<body>
    <div style="margin-top: 10px;"> 
        @using (Html.BeginForm())
        {
            <p class="align-content-end">Enter Name:        @Html.TextBoxFor(x => x.Name)</p>
            <p class="align-content-end">Enter Distribution: @Html.TextBoxFor(x => x.Distro)</p>
            @*<p class="align-content-end">Enter Memory:      @Html.TextBoxFor(x => x.IPAddress)</p>*@

            <p>
                Submit when ready!

            </p>
            <input type="submit" value="Submit Container Request" />
        }
    </div>
</body>
</html>
