@model Deployer2._0.Models.VirtualMachineListModel
@using vmware.vcenter;
<html>
<head>
    <title>The Server List </title>
</head>
<body>
    <table>
    @foreach (VMTypes.Summary vm in Model.vmList)
    {
        <tr>
            <td>
                @vm.GetName()
            </td>
        </tr>
    }
    </table>
</body>
</html>

