@model Deployer2._0.Models.VirtualMachineListModel
@using vmware.vcenter;
@using Deployer2._0.Models;
<html>
<head>
    <title>The Server List </title>
</head>
<body>
    <table>
        <tr>
            
            @foreach (VMTypes.Summary vm in VMInformation.VirtualMachineList)
            {

                <td>
                    @vm
                </td>

            }
        </tr>
    </table>
</body>
</html>

