@{
    ViewBag.Title = "Server Deployer FAQ";
}
<h2>@ViewBag.Title</h2>
<div class="panel-group ">
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h3 class="panel-title">
                <a class="btn btn-outline-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    How do i deploy a VM?
                </a>
            </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <p>To deploy a VM navigate to Servers > VMs, and click the button "deploy VM".</p>
                </div>
        </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading ">
        <h3 class="panel-title">
            <a class="btn btn-outline-info" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                How do i Deploy a container?
            </a>
        </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <p>To deploy a container navigate to Servers > Containers, and click the button "deploy container".</p>
        </div>
    </div>
</div>
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h3 class="panel-title">
                <a class="btn btn-outline-info" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    How do i check my Environment?
                </a>
            </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p>To check your environment navigate to Servers > Environment and Click the "Environment" button, to generate a list.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading ">
        <h3 class="panel-title">
            <a class="btn btn-outline-info" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                How do i manage my Preset VM?
            </a>
        </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Enable to start the FTP service type:</p>
            <ul>
                <li>Sudo systemctl start sftpd</li>
            </ul>
           
            <p>Enable to restart the FTP Enter into the command prompt:</p>
            <ul>
                <li>Sudo systemctl restart sftpd</li>
            </ul>
            <hr />

            <p>Enable to start the Database Enter into the command prompt:</p>
           
            <ul>

                <li>Sudo systemctl start mariadb</li>
            </ul>
            <p>Enable to restart the Database Enter into the command prompt:</p>
            <ul>
                <li>Sudo systemctl restart mariadb</li>
            </ul>
            <hr />

            <p>Enable to start the Web server Enter into the command prompt:</p>
            <ul>
                <li>Sudo systemctl start httpd</li>
            </ul>
            <p>Enable to restart the Web server Enter into the command prompt:</p>
            <ul>
                <li>Sudo systemctl restart httpd</li>
            </ul>
            

        </div>
    </div>
</div>
</div>
@*<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@