@model Deployer2._0.Models.VirtualMachineModel
@using Deployer2._0.Models;
@using System.Management.Automation;


@{
    ViewBag.Title = "Servers";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<link href="~/Content/serverNavStyle.css" rel="stylesheet" />
<div class="content">
    <h2>@ViewBag.Title</h2>
    <br />
   

    <div>
        @{Html.RenderPartial("~/Views/Partials/_ServerContent.cshtml"); }
    </div>
    <div>
        @{Html.RenderPartial("~/Views/Partials/_ServerNav.cshtml");}
    </div>
    <div class="content list-group">

        <a onclick="reload()" class="btn btn-primary btn-lg">Environment List&raquo;</a>

        @{
            foreach (PSObject listItem in ViewBag.vmlist)
            {
                <div class="list-group-item">
                    @listItem.ToString()
                </div>



            }
        }
        @*<p>@ViewBag.test</p>*@

    </div>
</div>

           
   







