@model Deployer2._0.Models.VirtualMachineModel
@using Deployer2._0.Models;


@{
    ViewBag.Title = "Servers";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<link href="~/Content/serverNavStyle.css" rel="stylesheet" />
<div class="content">
    <h2>@ViewBag.Title</h2>
    <br />
    <h3>@ViewBag.Message</h3>

    <div>
        @{Html.RenderPartial("~/Views/Partials/_ServerContent.cshtml"); }
    </div>
    <div>
        @{Html.RenderPartial("~/Views/Partials/_ServerNav.cshtml");}
    </div>
</div>

           
   







