@model Deployer2._0.Models.VirtualMachineModel

@{
    ViewBag.Title = "Servers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
@*<h4>@HtmlHelper.Raw(HtmlHelper.Encode(message).Replace("\n", "<br/>"))</h4>*@


